* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#chart {
    position: relative;
}

#tooltip {
    display: none;
    position: absolute;
    background: ghostwhite;
    border: 1px solid grey;
    border-radius: 4px;
    padding: .5em;
    font-size: .8rem;
    z-index: 3;
}