*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 3em;
}

#main-container {
    margin: 0 auto;
    width: 1300px;
    overflow-x: auto;
}

h1 {
    text-align: center;
    padding: .5em 0;
}
h2 {
   font-size: 1.1rem;
   text-align: center;
   font-weight: 400;
   padding: 0 0 1.5em 0;
   border-bottom: 1px solid rgb(190, 190, 190);
}

#chart {
    position: relative;
    margin: 1em auto 0 auto;
    display: flex; 
    justify-content: center;
}

#tooltip {
    display: none;
    position: absolute;
    background: ghostwhite;
    border: 1px solid grey;
    border-radius: 4px;
    padding: .5em;
    font-size: .8rem;
    z-index: 3;
}

/* ------------ Select input styling ------------- */

#select-years {
    display: flex;
    flex-direction: column;
    width: 150px;
    position: absolute;
    left: 0;
}

#select-years label {
    padding: 0 0 .5em 0;
    font-size: .9rem;
}

.select-style {
    position: relative;
    width: 150px;
}

#years {
   
    background: rgb(201, 74, 1);
    border: none;
    color: white;
    padding: .3em .3em .3em 1.1em;
    width: 100%;
    margin: 0;
}

/* ------------------------ Spinner ------------------------ */
#spinner-container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    position: absolute;
    padding: 15em 0;
    margin: 0;
}

.bubble {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
}

.bubble:not(:first-child) {
    margin: 0 0 0 1em;
}

.bubble:nth-child(1) { animation: spinningOne 1.5s linear infinite alternate; }
.bubble:nth-child(2) { animation: spinningTwo 1.5s linear infinite alternate; }
.bubble:nth-child(3) { animation: spinningThree 1.5s linear infinite alternate; }

@keyframes spinningOne {
    0% { background: rgb(146, 66, 0); transform: scale(1.1);}
    50% { background: rgb(252, 122, 16); transform: scale(0.9);}
    100% { background: rgb(252, 171, 105); transform: scale(1);}
}

@keyframes spinningTwo {
    0% { background: rgb(252, 171, 105); transform: scale(1);}
    50% { background: rgb(146, 66, 0); transform: scale(1.1);}
    100% { background: rgb(252, 122, 16); transform: scale(0.9);}
}

@keyframes spinningThree {
    0% { background: rgb(252, 122, 16); transform: scale(0.9);}
    50% { background: rgb(252, 171, 105); transform: scale(1);}
    100% { background: rgb(146, 66, 0); transform: scale(1.1);}
}